In [1]:
import pandas as pd
new_df = pd.read_csv('xg_2017_02_dataset.csv')

In [2]:
new_df['count'].max()

1989

In [3]:
new_df

       dayofweek  PULocationID  Hours  time1  time2  time3  count
0              2             1      3      0      0      0      2
1              2             1      5      0      2      0      1
2              2             1      8      1      0      0      1
3              2             1     10      0      1      0      1
4              2             1     11      1      0      1      2
...          ...           ...    ...    ...    ...    ...    ...
81142          1           265     19     10      4     11      9
81143          1           265     20      4     11      9     10
81144          1           265     21     11      9     10     14
81145          1           265     22      9     10     14     15
81146          1           265     23     10     14     15     12

[81147 rows x 7 columns]

In [4]:
new_df['dayofweek'] = new_df['dayofweek'] / 6

In [5]:
new_df['Hours'] = new_df['Hours'] / 23
new_df['time1'] = new_df['time1'] / new_df['time1'].max()
new_df['time2'] = new_df['time2'] / new_df['time2'].max()
new_df['time3'] = new_df['time3'] / new_df['time3'].max()

In [6]:
new_df['count'] = new_df['count'] / new_df['count'].max()

In [7]:
new_df['PULocationID'] = new_df['PULocationID'] / new_df['PULocationID'].max()

In [8]:
new_df.to_csv('normalized_data_2017_02.csv', index=False)

1.0