In [2]:
import pandas as pd
import numpy as np

In [3]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
new_df = pd.read_csv('yellow_tripdata_2017-02.csv', parse_dates=['tpep_pickup_datetime'], date_parser=dateparse)

df = new_df[['tpep_pickup_datetime', 'PULocationID']]

df['Hours'] = new_df['tpep_pickup_datetime'].dt.hour
df['Date'] = new_df['tpep_pickup_datetime'].dt.date

test_df = pd.DataFrame({'count' : df.groupby( ['PULocationID', 'Date', 'Hours'] ).size()}).reset_index()
test_df

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

       PULocationID        Date  Hours  count
0                 1  2017-02-01      3      2
1                 1  2017-02-01      5      1
2                 1  2017-02-01      8      1
3                 1  2017-02-01     10      1
4                 1  2017-02-01     11      2
...             ...         ...    ...    ...
81142           265  2017-02-28     19      9
81143           265  2017-02-28     20     10
81144           265  2017-02-28     21     14
81145           265  2017-02-28     22     15
81146           265  2017-02-28     23     12

[81147 rows x 4 columns]

In [5]:
test_df.to_csv('xg_2017_02_step1.csv', index=False)