In [18]:
import pandas as pd
new_df = pd.read_csv('xg_2017_01_final.csv')

In [19]:
new_df['count'].max()

2149

In [5]:
new_df

       dayofweek  Hours  time1  time2  time3  PULocationID  count
0              6      3      0      0      0             1      1
1              6      4      0      0      1             1      1
2              6      5      0      1      1             1      2
3              6      6      1      1      2             1      2
4              6      7      1      2      2             1      2
...          ...    ...    ...    ...    ...           ...    ...
89509          1     19      4      4      6           265     12
89510          1     20      4      6     12           265      8
89511          1     21      6     12      8           265      8
89512          1     22     12      8      8           265      8
89513          1     23      8      8      8           265     13

[89514 rows x 7 columns]

In [6]:
new_df['dayofweek'] = new_df['dayofweek'] / 6

In [10]:
new_df['Hours'] = new_df['Hours'] / 23
new_df['time1'] = new_df['time1'] / new_df['time1'].max()
new_df['time2'] = new_df['time2'] / new_df['time2'].max()
new_df['time3'] = new_df['time3'] / new_df['time3'].max()

In [12]:
new_df['count'] = new_df['count'] / new_df['count'].max()

In [14]:
new_df['PULocationID'] = new_df['PULocationID'] / new_df['PULocationID'].max()

In [16]:
new_df.to_csv('normalized_data_2017_01.csv', index=False)

1.0